.politician-list-item {
  border-bottom: 1px solid #EEE;
  display: flex;
  flex-direction: row;
  padding: 30px;

  &__left {
    img {
      height: 100px;
    }
  }

  &__right {
    padding-left: 15px;
  }
}
