// Primary
$black: #000;
$white: #FFFFFF;

// Dark blue
$dark-blue-100: #07071E;
$dark-blue-200: #06061B;
$dark-blue-300: #060618;
$dark-blue-400: #050515;
$dark-blue-500: #040412;
$dark-blue-600: #04040F;
$dark-blue-700: #03030C;
$dark-blue-800: #020209;
$dark-blue-900: #010106;

// Greys
$blue-grey-50: #414157;
$blue-grey-100: #2C2C44;
$blue-grey-200: #2A2A44;
$blue-grey-300: #1F1F39;
$blue-grey-400: #1C1C37;
$blue-grey-500: #12122F;

// Red
$red-100: #FB4164;
$red-200: #E23B5A;
$red-300: #C93450;
$red-400: #B02E46;
$red-500: #97273C;
$red-600: #7E2132;
$red-700: #641A28;
$red-800: #4B131E;

// Green
$green-100: #50E4A1;
$green-200: #48CD91;
$green-300: #40B681;
$green-400: #38A071;
$green-500: #308961;
$green-600: #287251;
$green-700: #205B40;
$green-800: #184430;

// Blue
$blue-100: #49BCD0;
$blue-200: #42A9BB;
$blue-300: #3A96A6;
$blue-400: #338492;
$blue-500: #2C717D;
$blue-600: #255E68;
$blue-700: #1D4B53;
$blue-800: #16383E;

// Pink
$pink-100: #FE1D9D;
$pink-200: #E51A8D;
$pink-300: #CB177E;
$pink-400: #B2146E;
$pink-500: #98115E;
$pink-600: #7F0F4F;
$pink-700: #660C3F;
$pink-800: #4C092F;

// Orange
$orange-100: #FF5D61;
$orange-200: #E65457;
$orange-300: #CC4A4E;
$orange-400: #B34144;
$orange-500: #99383A;
$orange-600: #802F31;
$orange-700: #662527;
$orange-800: #4C1C1D;

// Purple
$purple-100: #C228F1;
$purple-200: #AF24D9;
$purple-300: #9B20C1;
$purple-400: #881CA9;
$purple-500: #741891;
$purple-600: #611479;
$purple-700: #4E1060;
$purple-800: #3A0C48;
