@import 'mixins';

html {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
  color: #000;
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

a, button {
  @include disableTextSelection();
}

#__next {
  width: 100%;
}
