.hero {
  background: #1D1D2B;
  padding: 40px 80px 80px;

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: row;

    .inner__left {
      width: 40%;

      h1 {
        color: #FFF;
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 60px;
      }

      button {
        align-items: center;
        background: #05E2CD;
        border: 0;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.75);
        cursor: pointer;
        display: flex;
        font-size: 24px;
        font-weight: 800;
        height: 64px;
        justify-content: center;
        text-align: center;
        width: 300px;
      }
    }

    .inner__right {
      margin-left: auto;
      width: 60%;
    }
  }
}
