.politicians {
  border-bottom: 1px solid #EEE;
  display: flex;
  flex-direction: row;
  max-height: 780px;

  .politicians__left {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 80px 0;
    width: 50%;

    h2 {
      color: #000;
      display: block;
      font-size: 48px;
      font-weight: 600;
      padding-bottom: 30px;
      position: relative;
      text-align: center;
      width: 100%;

      &:after {
        background: #E5322D;
        border-radius: 4px;
        bottom: 0;
        clear: both;
        content: "";
        height: 8px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100px;
      }
    }

    .canada-map {
      cursor: pointer;
      max-height: 480px;
      padding-top: 60px;

      & *, & > * {
        cursor: pointer;
      }
    }
  }

  .politicians__right {
    border-left: 1px solid #EEE;
    width: 50%;

    .right__search {
      align-items: center;
      border-bottom: 1px solid #EEE;
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow: hidden;
      padding: 0 30px;
      height: 96px;
      width: 100%;

      input {
        border: 0;
        font-size: 24px;
        height: 96px;
        outline: none;
        padding: 0 0 0 15px;
        width: 100%;
      }
    }

    .right__politician-list {
      height: calc(100% - 96px);
      overflow-y: auto;
    }
  }
}
